@media (max-width: 1020px) {
  h2 {
    text-align: center;
  }
  .game_body {
    height: 100%;
  }
}

@media (max-width: 784px) {
  .game_body {
    gap: 30px;
  }
  .result_container {
    height: 132px;
  }
  h2 {
    font-size: 35px;
  }
  #cup_move,
  #player_move {
    width: 45%;
    height: 77%;
  }
  #result_img {
    width: 60%;
  }
  .gif_img_container {
    width: 25%;
  }
  .choice_container {
    padding: 5px;
  }
}

@media (max-width: 415px) {
  h2 {
    font-size: 21px;
  }
  p {
    font-size: 17px;
  }
  .title_img {
    width: 100%;
  }
  .game_body {
    gap: 16px;
  }
  .result_container {
    height: 145px;
  }
  #cup_move,
  #player_move {
    width: 100px;
    height: 95px;
  }
  #result_img {
    width: 100%;
  }
  .choice_container {
    padding: 2px;
    gap: 45px;
  }
  .gif_img_container {
    width: 55%;
  }
}
